.home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.home .hero-slider {
  overflow: hidden;
  position: relative;
}

.hero-slider .hero-slider-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.hero-slider .hero-slider-container .hero-slide {
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-slider .hero-slider-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.85);
  padding: 0 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.hero-slider .hero-slider-content .viewport-title {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.hero-slider .hero-slider-content .viewport-title .title {
  width: 100%;
  height: 2.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-slider .hero-slider-content .viewport-title .title h1 {
  flex: 0 0 100%;
  font-size: 2.25em;
  text-align: center;
  color: var(--main-primary-color);
}

.hero-slider .hero-slider-content p {
  margin-top: -0.5rem;
  height: 5rem;
  overflow: auto;
  color: var(--main-primary-color);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.hero-slider .hero-slider-content .actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero-slider .hero-slider-content .actions button {
  width: 70%;
  height: 3rem;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  border-bottom: 3px solid var(--main-primary-color);
  border-radius: 5px;
  color: var(--main-primary-color);
  transition: color, background-color, 300ms ease-in-out;
}

.hero-slider .hero-slider-content .actions a {
  width: 70%;
  height: 3rem;
  font-size: 16px;
  text-decoration: none;
  background-color: rgb(204, 204, 204, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  transition: color, background-color, border, 300ms ease-in-out;
}

.hero-slider .hero-slider-content .actions a:hover {
  border: 2px solid #fff;
  background-color: var(--main-primary-color);
  color: var(--header-color);
  cursor: default;
}

.hero-slider .hero-slider-content .actions a:nth-child(2) {
  justify-content: space-between;
  align-items: center;
  background-color: #4dc247;
  border: none;
  padding: 0 10px;
  color: var(--main-primary-color);
}

.hero-slider .hero-slider-content .actions a:nth-child(2) svg {
  font-size: 22px;
}

.hero-slider .hero-slider-content .actions a:nth-child(2):hover {
  background-color: #57d650;
}

.hero-slider .hero-slider-content .dots-selected {
  z-index: 1;
  bottom: 1.6rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.dots-selected .dots {
  width: 5rem;
  height: 5px;
  display: flex;
  align-items: center;
  border: none;
  background: var(--main-primary-color);
  cursor: pointer;
}

.dots-selected .dots-active {
  border: none;
  background: var(--main-secondary-color);
}

@media screen and (min-width: 480px) {
  .hero-slider .hero-slider-content .viewport-title .title {
    width: 100%;
    height: 3.25rem;
  }

  .hero-slider .hero-slider-content .viewport-title .title h1 {
    font-size: 2.75em;
  }

  .hero-slider .hero-slider-content .actions {
    flex-direction: row;
  }

  .hero-slider .hero-slider-content .actions button {
    width: 50%;
  }
}

@media screen and (min-width: 640px) {
  .hero-slider .hero-slider-content .viewport-title .title {
    width: 100%;
    height: 3.75rem;
  }

  .hero-slider .hero-slider-content .viewport-title .title h1 {
    font-size: 3.25em;
  }

  .hero-slider .hero-slider-content .actions button {
    width: 10rem;
    height: 4rem;
  }

  .hero-slider .hero-slider-content .actions a {
    width: 10rem;
    height: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .hero-slider .hero-slider-content p {
    height: auto;
    overflow: visible;
  }

  .hero-slider .hero-slider-content .dots-selected {
    right: 1.6rem;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .hero-slider .hero-slider-content .viewport-title .title {
    width: 100%;
    height: 4.25rem;
  }

  .hero-slider .hero-slider-content .viewport-title .title h1 {
    font-size: 3.75em;
  }
}

@media screen and (min-width: 1320px) {
  .hero-slider .hero-slider-content .viewport-title .title {
    width: 100%;
    height: 4.75rem;
  }

  .hero-slider .hero-slider-content .viewport-title .title h1 {
    font-size: 4em;
  }
}
